body {
    background-color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: deeppink;
    margin-top: 40px;
}

.fazer-calculo {
    text-align: center;
}

input {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 0 10px;
}

button {
    background-color: deeppink;
    color: floralwhite;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    margin: 20px 5px;
    width: 100px;
    font-size: 20px;
}

 button:hover {
    background-color: floralwhite;
    color: deeppink;
}

select {
    height: 32px;
    width: 50px;
    border-radius: 10px;
}

option {
   font-size: 20px;
}

#calculadora {
    background-image: url(calculadora.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 360px;
    margin: 50px auto;
}

#mostra-numero {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 51px;
    top: 43px;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#desenvolvido {
    color:rgb(250, 202, 228);   
}

#linkedin, #github, #instagram {
    font-size: 20px;
    color:rgb(245, 99, 179);
    margin-left: 5px;
}

#linkedin:hover, #github:hover, #instagram:hover {
    color:rgb(216, 216, 216);
}

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0 20px 20px 0;
}